.icons{
    font-size: xx-large;
    margin-left: 30%;
}
@media (max-width: 1200px){

}
@media (max-width: 768px){
    .hero-wrap .text {
        margin-left: 15% !important;
    }
    .icons{
        margin-left: 21% !important;
    }
}
@media (max-width: 450px)
{
    .navi{
        display: none !important;
    }
    .icons{
        margin-left: 0% !important;
    }
}